body {
    background-color: black;
    color: white;
}

h1,
p {
    text-align: center;
}

.image {
    height: 400px;
    width: 300px;
}

.Bestcardgame {
    height: 400px;
    width: 600px;
}

.show {
    color: red;
    border: 3px solid;
    margin: 25px;
    padding: 1px;

}

.Card {
    color: Yellow;
    border: 3px solid;
    margin: 25px;
    padding: 1px;
}

.Manga {
    color: #03fcfc;
    border: 3px solid;
    margin: 25px;
    padding: 1px;
}

.Bestcard {
    color: Green;
    border: 3px solid;
    margin: 25px;
    padding: 1px;
}

.bold {
    font-weight: bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.serif {
    font-family: "Times New Roman", Times, serif;
}